# Copie este arquivo para ".env" (sem o .example) e preencha com seus dados reais.

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=senha_root_aqui
DB_NAME=totem_cantina

#node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
SESSION_SECRET=COLOQUE_AQUI_UM_SEGREDO_FORTE
NODE_ENV=development
PORT=3001
