/* =========================
   DESKTOP
========================= */
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

main {
  position: relative;
  /* contexto de empilhamento para os filhos */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  overflow-x: hidden;
}

:root {
  --borda-sombra: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.caixaPrincipal {
  background-color: white;
  border-radius: 1.2rem;
  border: solid 1px #ffffff8e;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin: clamp(1rem, 5vw, 2rem) auto;
  min-height: 600px;
  min-width: 700px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.caixaSubPrincipal {
  background-color: white;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-voltar {
  margin-left: auto;
  font-size: 1.5em;
  font-weight: bold;
  background-color: white;
  border: solid 1px #ffffff8e;
  border-radius: 10px;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-pagamentoEpagar {
  font-size: 1.5rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  /* box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3); */
  margin: 0 auto;
  padding: 1.5rem 3rem 1.5rem 3rem;
}

#lista-produtos{
    overflow-y: auto;
}

/* 
=================================
INDEX
================================= 
*/

.index-conteudo {
  position: relative;
  /* necessário para z-index funcionar */
  z-index: 1;
  /* maior que o triângulo */
  width: 100%;
}

/* ------------------HEADER PRINCIPAL-------------------- */
.triangulo-vermelho {
  position: absolute;
  /* REMOVA o "position: static" duplicado */
  z-index: 0;
  width: 100%;
  height: 600px;
  top: -120px;
  background: red;
  clip-path: polygon(0 0, 0 100%, 130% 0);
  pointer-events: none;
}

.header-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-principal #cantina {
  color: white;
  font-size: clamp(4rem, 12vw, 9rem);
  font-style: italic;
  text-shadow: #A50000 13px 7px 2px;
}

.index-caixa-branca {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: 155px;
  background-color: white;
  border-radius: 7px;
}

#senai-img {
  width: 500px;
  margin: 5px;
}

.quadrado-vermelho {
  position: absolute;
  bottom: -200px;
  /* empurra pra fora da tela */
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);

  width: 200vw;
  /* MUITO largo */
  height: 500px;
  /* altura do fundo */

  background-color: #A50000;
  border-radius: 3rem;

  z-index: 0;
  /* fica atrás */
}

/* ----------------INDEX_CAIXA DE PEDIDO-------------------- */
.index-caixa-pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin-top: 50px;
}

.index-caixa-pedido form {
  width: min(29.3rem, 90vw);
}

.index-caixa-pedido h1 {
  font-weight: bold;
  font-size: clamp(50px, 11.7vw, 100px);
  color: #A50000;
  text-shadow: rgb(187, 183, 183) -4px -3px 3px;
  transform: rotate(-5deg);
  transform-origin: center;
}

.index-caixa-pedido-superior {
  width: 100%;

  background-image: linear-gradient(to bottom,
      #929393,
      #2D2D2D);

  border-radius: 1.3rem 1.3rem 0 0;

  color: white;

  padding: 3rem 2rem;

  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-caixa-pedido-superior p {
  font-size: 2rem;
}

.index-caixa-pedido-superior input {
  text-align: center;

  background-color: #000000b0;
  border-radius: 1.1em;
  font-size: 1.7rem;
  padding: 1rem;
  width: 10em;
  color: white;
  margin-bottom: 1.25em;
}

.index-caixa-pedido-inferior {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  width: 100%;
}

.index-caixa-pedido-inferior button {
  width: 100%;
  height: 4rem;

  background-image: linear-gradient(to bottom,
      #000000e3,
      #FF0D0D);

  color: white;
  font-weight: bold;

  border-radius: 0 0 1.3rem 1.3rem;

  border: none;
  cursor: pointer;

  font-size: 1.8rem;
}

/* ----------INDEX_COMIDAS NO FINAL DA PÁGINA----------- */
.index-comidas-agrupadas {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  gap: 20px;
}

.index-comidas-agrupadas img {
  position: relative;
  /* sobreposição */
  flex-shrink: 0;
}

.index-comidas-agrupadas img:nth-child(1) {
  z-index: 1;
  width: 17.5rem;
  transform: rotate(-15deg);
  margin-right: -200px;
  margin-bottom: 60px;
}

.index-comidas-agrupadas img:nth-child(2) {
  z-index: 2;
  width: 39rem;
  margin-left: -200px;
}

.index-comidas-agrupadas img:nth-child(3) {
  z-index: 3;
  width: 32rem;
  margin-left: -300px;
}

.index-comidas-agrupadas img:nth-child(4) {
  z-index: 2;
  width: 24rem;
  transform: scaleX(-1);
  margin-left: -200px;
}

.index-comidas-agrupadas img:nth-child(5) {
  z-index: 1;
  width: 22rem;
  transform: rotate(15deg);
  margin-left: -300px;
  margin-right: -2rem;
  margin-bottom: 60px;
}

/* 
====================================  
CARDAPIO
==================================== 
*/
/* .cardapio-caixaPrincipal {
  width: 100%;
  background-color: white;
  box-shadow: 60px 16px black;
} */

.cardapio-header {
  width: 80%;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cardapio-header h1 {
  color: #7C0000;
}

#cardapio {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 110px);
  padding: 20px;
  scroll-behavior: smooth;
}

#cardapio::-webkit-scrollbar {
  width: 12px;
}

#cardapio::-webkit-scrollbar-track {
  background: #ff000080;
  border-radius: 15px;
}

#cardapio::-webkit-scrollbar-thumb {
  background-color: #bd0202;
  border-radius: 15px;
  border: 1px solid #ffffff;
}

#cardapio::-webkit-scrollbar-thumb:hover {
  background-color: #640202;
}

#cardapio img {
  width: 10rem;
}

#nome-cliente {
  font-weight: bold;
}

#exclamacao {
  color: #FF0000;
}

.cardapio-conteudo {
  display: flex;
  flex-direction: row;
}

.cardapio-sidebar {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 110px);
  gap: 20px;
}

.cardapio-sidebar ul {
  padding: 0;
  margin: 0;

  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.cardapio-sidebar li {
  list-style: none;

  padding: 1.5rem 3rem;

  cursor: pointer;

  transition: background 0.2s ease;

  font-size: 20px;

  text-transform: uppercase;

  font-weight: bold;
}

li.ativo {
  background-color: #FF0000;
  color: white;
  border-radius: 20px;
  font-weight: bolder;
}

/* .cardapio-sidebar p {
  color: #FF0000;
  font-size: 40px;
} */


#produtoCard {
  color: #7c0000;
  background-color: #ffffff;

  padding: 0;

  border: 2px solid #c8c8c8;
  border-radius: 1rem;

  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.28),
    0 5px 0 #9e0000;

  overflow: hidden;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

#produtoCard:hover{
      cursor: pointer;

    transform: translateY(-2px);

    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.28),
        0 6px 0 #9e0000;
}

.produto-cima {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background-color: #ffffff;

    border-bottom: 2px solid #cfcfcf;

    padding: 1.5rem;
}

.produto-cima img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 206px;
  aspect-ratio: 1 / 1;
  display: block;
}

.produto-baixo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background-color: #ffffff;

    border: none;

    padding: 0.7rem 1rem;
}

.produto-baixo p {
  font-size: 1em;
}

#nome-produto {
  font-size: 1em;
  font-weight: bold;
}

#produto-preco {
  font-size: 1.1em;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  z-index: 3;
  padding: clamp(2rem, 5vw, 10rem);
}

footer button {
  background-color: #FF0D0D;
  color: white;
  width: min(450px, 100%);
  min-height: 70px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
}

footer button:hover {
  background-color: rgb(212, 20, 20);
}

footer button:active {
  background-color: rgb(189, 18, 18);
}

#cardapioFooter {
  border-top: solid 5px black;
}



/* 
=======================
        PAGAMENTO
=======================
*/

#caixaPrecoTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#caixaPrecoTotal p {
  color: #FF0000;
  font-size: 50px;
}

#opcoesPagamento {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 100px);
  gap: 1.02rem;
  margin: 50px;
}

/* Aplica o formato W nas telas (3 em cima, 2 em baixo) */
#pagamentoDebito {
  grid-column: 1;
  grid-row: 1;
}

#pagamentoCredito {
  grid-column: 2;
  grid-row: 2;
}

#pagamentoDinheiro {
  grid-column: 3;
  grid-row: 1;
}

#pagamentoPix {
  grid-column: 4;
  grid-row: 2;
}

#pagamentoValeR {
  grid-column: 5;
  grid-row: 1;
}

.formaPagamento {
  background-color: #FF0000;
  color: white;
  font-size: 20px;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 17%;
}

.formaPagamento:active {
  background-color: #920000;
}

/* 
=======================
        PEDIDO
=======================
*/

.pedido {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
  align-items: center;
  color: #A50000;
}

.descricao-pedido {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: clamp(20px, 5vw, 25px);
}

.descricao-pedido h2 {
  font-weight: 500;
}

.preco-pedido {
  font-weight: 700;
}

/* =========================
TABLET
========================= */

@media (max-width: 1024px) {

  .index-comidas-agrupadas {
    transform: scale(0.75);
    transform-origin: center bottom;
  }

  #cardapio {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cardapio-sidebar li {
    padding: 1.5rem;
    font-size: 1rem;
  }

  .formaPagamento {
    width: 120px;
    height: 120px;
    font-size: 1rem;
  }

  #opcoesPagamento {
    gap: 0.5rem;
    margin: 2rem;
  }

}